SixtrackCollimationTools/*.o
SixtrackCollimationTools/BeamLossPattern
SixtrackCollimationTools/CleanInelastic
SixtrackCollimationTools/CountAbs
SixtrackCollimationTools/CountNAbs
SixtrackCollimationTools/GetAperture
Build/*

